---
import { basics } from "@data";
import BentoItem from "./items/BentoItem.astro";

const {
  proyecto4,
  proyecto5,
  proyecto6,
  proyecto7,
  proyecto8,
  proyecto9,
  proyecto10,
} = basics;
---

<div class="w-full my_grid">
  <BentoItem
    title={proyecto4.title}
    description={proyecto4.description}
    image={proyecto4.image}
    link={proyecto4.link}
    github={proyecto4.github}
  />
  <BentoItem
    title={proyecto5.title}
    description={proyecto5.description}
    image={proyecto5.image}
    link={proyecto5.link}
    github={proyecto5.github}
  />
  <BentoItem
    title={proyecto6.title}
    description={proyecto6.description}
    image={proyecto6.image}
    link={proyecto6.link}
    github={proyecto6.github}
  />
  <BentoItem
    title={proyecto7.title}
    description={proyecto7.description}
    image={proyecto7.image}
    link={proyecto7.link}
    github={proyecto7.github}
  />
  <BentoItem
    class="justify-self-center col-span-1"
    title={proyecto8.title}
    description={proyecto8.description}
    image={proyecto8.image}
    link={proyecto8.link}
    github={proyecto8.github}
  />
  <BentoItem
    class="justify-self-center col-span-1"
    title={proyecto9.title}
    description={proyecto9.description}
    image={proyecto9.image}
    link={proyecto9.link}
  />
  <BentoItem
    class="justify-self-center col-span-1"
    title={proyecto10.title}
    description={proyecto10.description}
    image={proyecto10.image}
    link={proyecto10.link}
    github={proyecto10.github}
  />
</div>

<style>
  .my_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
</style>
