---
import BentoItem from "./BentoItem.astro";
import { basics } from "@data";

const { proyecto1, proyecto2, proyecto3, proyecto4, proyecto5, proyecto6 } =
  basics;
---

<div class="grid max-w-[1000px] grid-cols-4 grid-rows-6 gap-2 mt-10">
  <BentoItem
  class="col-span-2 row-span-3"
    title={proyecto2.title}
    description={proyecto2.description}
    link={proyecto2.link}
  >
    <img
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
    -z-10 h-full w-full
    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
      src={proyecto2.image}
    />
  </BentoItem>
  <BentoItem
  class="row-span-2"
    title={proyecto4.title}
    description={proyecto4.description}
    link={proyecto4.link}
  >
    <img
   
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
    -z-10 h-full w-full
    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
      src={proyecto4.image}
    />
  </BentoItem>
  <BentoItem
    title={proyecto3.title}
    description={proyecto3.description}
    link={proyecto3.link}
  >
    <img
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
    -z-10 h-full w-full
    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
      src={proyecto3.image}
    />
  </BentoItem>
  <BentoItem
  class="row-span-2"
    title={proyecto5.title}
    description={proyecto5.description}
    link={proyecto5.link}
  >
    <img
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
    -z-10 h-full w-full
    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
      src={proyecto5.image}
    />
  </BentoItem>
  <BentoItem
    title={proyecto6.title}
    description={proyecto6.description}
    link={proyecto6.link}
  >
    <img
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
    -z-10 h-full w-full
    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
      src={proyecto6.image}
    />
  </BentoItem>
  <BentoItem
  class="col-span-4 row-span-3"
    title={proyecto1.title}
    description={proyecto1.description}
    link={proyecto1.link}
  >
    <img
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
    -z-10 h-full w-full
    bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
      src={proyecto1.image}
    />
  </BentoItem>
</div>
