---
const ItemsNav = [
  {
    name: "Inicio",
    ariaLabel: "Inicio",
    url: "/#inicio",
  },
  {
    name: "Projectos",
    ariaLabel: "Projectos",
    url: "/#projects",
  },
  {
    name: "Skills",
    ariaLabel: "Skills",
    url: "/#skills",
  },
  {
    name: "Sobre Mi",
    ariaLabel: "Sobre Mi",
    url: "/#about",
  },
];
---

<header
  class="header-animate fixed flex justify-center items-center w-full mx-auto z-10 sm:text-base"
  id="header"
>
  <nav class="">
    <ul
      class="flex flex-row items-center justify-center sm:gap-14 gap-4 text-xl text-center"
    >
      {
        ItemsNav.map((item, index) => (
          <li class="px-4 py-2">
            <a
              href={item.url}
              aria-label={item.ariaLabel}
              class="text-white sm:text-xl text-sm"
            >
              {item.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>

  <div
    id="menu-backdrop"
    class={`
    absolute bg-zinc-900  backdrop-blur-lg rounded
    translate-x-[var(--left)] translate-y-[var(--top)]
    left-0 top-0
    w-[var(--width)] h-[var(--height)]
    transition-all duration-500
    ease-in-out opacity-0 -z-10
  `}
  >
  </div>
</header>

<style>
  .header-animate {
    animation: adapt-nav both;
    animation-timeline: scroll();
    backdrop-filter: blur(10px);
    top: 0;
  }

  @keyframes adapt-nav {
    0% {
      padding: 1rem;
    }
    100% {
      padding: 1rem;
    }
  }
</style>

<script>
  const listItem = document.querySelectorAll("#header li");
  const menuBackDrop = document.querySelector("#menu-backdrop") as HTMLElement;

  listItem.forEach((item) => {
    item.addEventListener("mouseenter", () => {
      const { left, top, width, height } = item.getBoundingClientRect();

      menuBackDrop.style.setProperty("--left", `${left}px`);
      menuBackDrop.style.setProperty("--top", `${top}px`);
      menuBackDrop.style.setProperty("--width", `${width}px`);
      menuBackDrop.style.setProperty("--height", `${height}px`);

      menuBackDrop.style.opacity = "1";
      menuBackDrop.style.visibility = "visible";
    });

    item.addEventListener("mouseleave", () => {
      menuBackDrop.style.opacity = "0";
      menuBackDrop.style.visibility = "hidden";
    });
  });
</script>
