---
import { basics } from "@data";
import ProjectItem from "../items/ProjectItem.astro";
import CarruselProjects from "../items/CarruselProjects.astro";

const { proyecto1, proyecto2, proyecto3 } = basics;
---

<section
  class="w-full flex-col flex justify-center items-center mt-60 animate-blink [animation-range:0px_600px] [animation-timeline:view()]"
  id="projects"
>
  <h2 class="text-5xl font-bold">Mis Projectos</h2>
  <p class="text-xl mt-5">Realizados con esfuerzo y dedicación.</p>
  <p class="text-xl mt-5">
    Cada uno me ha ayudado <span class="font-bold text-[#06fdff]"
      >a mejorar mis habilidade
    </span> en diferentes tecnologías.
  </p>
  <div class="px-5 sm:px-8 md:px-20 mt-10 flex flex-col flex-wrap gap-10 mb-4">
    {
      [proyecto1, proyecto2, proyecto3]
        .slice(0, 3)
        .map((proyecto) => (
          <ProjectItem
            title={proyecto.title}
            description={proyecto.description}
            second_description={proyecto.second_description}
            image={proyecto.image}
            link={proyecto.link}
            tecnologies={proyecto.tecnologias}
            github={proyecto.github}
          />
        ))
    }
  </div>

  <CarruselProjects />
</section>
