---
import { social_content_creator } from "@social";
import BentoItem from "./BentoItem.astro";

const { fatz, midudev, mouredev, soydalto, freeCodeCamp } =
  social_content_creator;
---

<div class="my-grid mt-10 gap-4 gap-y-5 mb-6">
  <BentoItem name="midudev" img="/midudev.webp" href={midudev} />

  <BentoItem name="soydalto" img="/soydalto.webp" href={soydalto} />
  <BentoItem name="freeCodeCamp" img="/freecodecamp.webp" href={freeCodeCamp} />
  <BentoItem name="fatz" img="/fatz.webp" href={fatz} />
  <BentoItem name="mouredev" img="/mouredev.webp" href={mouredev} />
</div>

<style>
  .my-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
  }
</style>
